/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    /* Twitch Color Palette */
    --twitch-dark-violet: #6441a5;
    --twitch-light-violet: #b9a3e3;
    --twitch-black: #262626;
    --twitch-electric-violet: #9146ff;
    --twitch-white: #f1f1f1;
    --twitch-titan-white: #f0f0ff;
    
    /* LinkedIn Color Palette */
    --linkedin-blue: #0077b5;
    --linkedin-black: #000000;
    --linkedin-dark-gray: #313335;
    --linkedin-light-gray: #86888a;
    --linkedin-white-gray: #caccce;

    /* Light Theme */
    --font-color: var(--twitch-black);
    --bg-color: var(--twitch-white);
    --nav-link-hover: var(--twitch-light-violet);
    --nav-link-color: var(--twitch-dark-violet);
    --nav-bg: var(--linkedin-white-gray);
    --search-bg: var(--linkedin-dark-gray);
    --search-pcolor: var(--linkedin-white-gray);
    --slider-bg: var(--linkedin-dark-gray);
}

[data-theme="dark"] {
  /* dark theme */
    --font-color: var(--linkedin-white-gray);
    --bg-color: #000000;
    --nav-link-color: var(--twitch-light-violet);
    --nav-link-hover: var(--twitch-dark-violet);
    --nav-bg: var(--linkedin-dark-gray);
    --search-bg: var(--linkedin-light-gray);
    --search-pcolor: var(--linkedin-dark-gray);
    --slider-bg: var(--linkedin-light-gray);
    .interaction img{
      filter: invert(1);
    }
}

body {
  background: var(--bg-color);
  color: var(--font-color);
  font-family: 'Poppins', sans-serif;
}

.switch {
  height: 100px;
  position: fixed;
  right: 10px;
  top: 10px;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--slider-bg);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

.switch input:checked + .slider {
  background-color: var(--slider-bg);
}

.switch input:checked + .slider:before {
  transform: translateX(26px);
}

.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

.nav-links{
    color: var(--nav-link-color);
    cursor: pointer;
}

.nav-links:hover{
    text-decoration: none;
    color: var(--nav-link-hover);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 0;
    background: var(--nav-bg);
}

nav img{
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: .5rem;
}

.search-box{
  width: 10%;
  height: 3rem;
  border-radius: 10px;
  padding: 10px;
  background: var(--bg-color);
  color: var(--font-color);
  font-size: 20px;
  outline: none;
  border: 2px solid var(--search-bg);
}

nav .search-box::placeholder{
  font-size: 1rem;
  font-weight: bold;
  background: var(--bg-color);
  color: var(--font-color);
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 20px 50px;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-top: 0;
}

.navbar li{
  margin-right: 20px;
}

hr{
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--search-bg);
}

.highlight{
  color: var(--nav-link-color);
}

.container{
  padding: .2rem;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
  margin-top: .5rem;
  width: 99%;

}

.box{
  border-radius: 20px;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box1{
  display: flex;
  flex-direction: column;
  background: var(--nav-bg);
  color: var(--font-color);
  width: 19%;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.box1 #cover-img{
  width: 100%;
  padding-top: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.box1 #pfp{
  position: relative;
  top: -30px;
  margin: auto;
  margin-bottom: 0;
  border: 1px solid black;
  border-radius: 50%;
}

.box1 h2{
  margin-top: -1rem;
}

.box2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 58%;
  margin: 0;
  padding: 0;
  color: var(--font-color);
}

.card{
  border-radius: 20px;
  background: var(--nav-bg);
  color: var(--font-color);
  width: 100%;
  padding: .5rem;
  margin: auto;
}

.up-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.up-card #start-post{
  width: 90%;
  height: 2.5rem;
  margin-left: 10px;
  font-size: 1.5rem;
  padding: 0 1rem;
  color: var(--font-color);
  background: var(--bg-color);
  border-radius: 50px;
  border: 2px solid var(--search-bg);
}

.up-card #start-post::placeholder{
  background: var(--bg-color);
  color: var(--font-color);
}

.down-card{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}

.box3{
  background: var(--nav-bg);
  color: var(--font-color);
  width: 20%;
}

#feed{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.degree{
  font-size: 0.8rem;
}

#feed .box2 .post .up{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: 100%;
}

#feed .box2 .post-name{
  font-size: 1rem;
}

#feed .box2 .headline{
  font-size: 0.8rem;
}

#feed .box2 .card{
  margin: 0.5rem 0;
}

#feed .box2 .count{
  margin: .2rem;
  display: flex;
  align-items: center;
}





/* Mobile Responsiveness */
@media screen and (max-width: 768px){
    nav{
        flex-direction: column;
    }

    nav .navbar{
        flex-direction: row;
        width: 100%;
    }

    nav .navbar li{
        margin-right: .5rem;
    }

    nav img{
        margin-bottom: .5rem;
        margin-top: .5rem;
    }
    
    nav .search-box{
        width: 70%;
    }

    .box1{
      display: none;
    }

    .container{
      flex-direction: column;
    }

    .box2, .box3{
      width: 99%;
    }

    .box3{
      margin-top: 1rem;
    }
}
